@import url(https://fonts.googleapis.com/css?family=Raleway:600);
@import url(./navbar.css);
@import url(./home.css);
@import url(./travels.css);
@import url(./hangar.css);
@import url(./fleet.css);
@import url(./login.css);
@import url(./register.css);
@import url(./planet.css);

body{
    overflow: hidden;

}

*{
    font-family: "Raleway";

}

#app{
    height: 100vh;
    z-index: 10;

}

#app .auth{
    background-color: #f5f5f5;

}

#app .card{
    margin: auto;
    padding: 1em;

}

#app .container.card{
    /* overflow-y: auto;
    height: calc( 100vh - 4em - 64px); */
    background-color: rgba(255, 255, 255, .9);
}

#app.auth .container.card{
    height: calc( 100vh - 4em - 96px);

}

/* App wallpaper */

.app-wallpaper{
    top: 64px;
    left: 0;
    position: absolute;
    height: calc(100vh - 64px);
    width: 100vw;
    background-image: url(../img/app-wallpaper.jpg);
    background-size: cover;
    animation: example 30s infinite;
}

@-webkit-keyframes example {
    25%{
        transform: scaleX(1.05);
        opacity: 0.95;
    }
    50%{
        transform: scaleX(1);
        opacity: 1;
    }
    75%{
        transform: scaleX(1.05);
        opacity: 0.95;
    }
}

/* Table */

#table-container.data{
    height: calc(100% - 4em);
    overflow-y: auto;

}

#table-container.data table tr{
    transition: background-color 0.3s;

}

#table-container.data table tr:nth-child(even) {
    background-color: rgba(221, 221, 221, 0.25);

}

#table-container.data table tr:hover{
    background-color: lightgrey;

}

#table-container.data table tr:first-child{
    background-color: white;

}

#table-container.data table tr:last-child {
    border-bottom: 0;

}

#table-container.data table tr td {
    padding: 0;
    border-radius: 0;

}

#table-container.data table tr td a {
    display: block;
    padding: 0.5em;

}
