@import url(https://fonts.googleapis.com/css?family=Raleway:600);
@import url(./navbar.css);

*{
    font-family: "Raleway";

}

#app{
    height: 100vh;
    background-color: #f5f5f5;

}

.card{
    margin: auto;
    padding: 1em;

}
.inner-content {
   margin-top: 2em;
}
#home .planet-properties-title {
  display: grid;
  grid-template-columns: 33.3% 33.3% 33.3%;
  justify-items: center;
}

#home .planet-properties {
  display: grid;
  grid-template-columns: 33.3% 33.3% 33.3%;
  justify-items: center;
  background-color: #e6e6e6;
}

#home .planet-properties:hover {
  background-color: #808080;
  color: white;
}
