@import url(https://fonts.googleapis.com/css?family=Raleway:600);
@import url(./navbar.css);
@import url(./home.css);

@import url(./login.css);
@import url(./register.css);

*{
    font-family: "Raleway";

}

#app{
    height: 100vh;
    background-color: #f5f5f5;

}

.card{
    margin: auto;
    padding: 1em;

}

#app .container.card{
    overflow-y: auto;
    height: calc( 100vh - 4em - 64px);
    z-index: 10;

}

#app.auth .container.card{
    height: calc( 100vh - 4em - 96px);

}
