#fleet .no-fleet-found{
    display: flex;
    flex-grow: 1;
    justify-content: center;

}

#fleet form{
    display: flex;
    height: -webkit-fill-available;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
}

#fleet form .btn{
    width: 250px;

}
