

#hangar .create-ships-section{
    display: flex;
    flex-direction: column;
    height: 100%;

}

#hangar .data{
    display: flex;
    flex-grow: 1;
    justify-content: space-evenly;

}

#hangar .data .ships{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 250px;
    
}

#hangar .data .ships .btn{
    width: -webkit-fill-available;
    margin-top: 1em;

}
