#travel {
    overflow-y: auto;
}

#travels .solar_system_selector_container {
  display: grid;
  grid-template-columns: 30% 70%;

}

#travels .solar_system_selector {
  display: inline;

}

#travels #table-container.data{
    height: 100%;
}
